@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root{
    --color-000:rgb(245, 246, 255);
    --color-100:rgb(227, 220, 252);
    --color-200:rgb(104, 62, 230);
    --color-300:rgb(48, 28, 107);
    --color-400:rgb(30, 19, 69);
    
}
*{
    /*color: white;*/
    font-family: "DM sans", sans-serif;
    box-sizing: border-box;
    font-size: 16px;

}

main{
    overflow-x: hidden;
}

body{
    margin: 0;
    color: white;

}

.header{
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    height: 90px;
    width: 100%;
    position: sticky;
    top:0;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);

    
}

.header-nav-content{
    width: 100%;
    padding-left: 20px;
    padding-right: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-nav-content a{
    text-decoration: none;
    color: black;
}

.button-menu{
    display: none;
}

.header__nav-lang{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-weight: 600;

}
.header__nav-lang img{
    width: 30px;
    height: 20px;
    border-radius: 2px;
}


.header__nav-right{
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    font-weight: 600;
}

a i.fa {
    display: inline;
    appearance: none;

}

.header-nav__items{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}


.header-nav__login{
    border:2px solid black;
    border-radius: 8px;
    padding: 12px 15px;
}
.header-nav__logo{
    text-align: center;
    width: 250px;
    padding: 0 0 0 25px;
    
}

.header-nav__logo img{
    height: auto;
    width: 150px;
}


.hero__content{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    padding:  30px 15px 100px 15px;


}
.hero-left{
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;

}

.hero__list-items{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: left;
}

.hero__list-text{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin-bottom: 3px;
    margin-top: 0;
    color: var(--color-400);
}

.hero__list-text .bi-check2{
    color: rgb(0, 176, 144);
    font-size: 20px;
    margin: 5px;
}

.hero__list-text .bi-question-circle{
    margin-left: 5px;
    font-size: 12px;
}

h1{
    color: var(--color-300);
    font-size: 35px;
    margin: 0;


}

.hero__subtitle{
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    color: var(--color-300);
}

.hero__subtitle-percentage{
    font-size: 20px;
    color: var(--color-200);
}

.hero-right{
    max-width: 600px;
    width: 100%;
    overflow: hidden;
    height: 400px;
    justify-content: center;
}

.hero-right img{
    max-width: 600px;
    border-radius: 10px;
    justify-content: center;
    
}

.hero-price{
    align-items: flex-end;
    gap: 4px;
    flex-direction: row;
    color: var(--color-300);
    height: auto;
    margin-top: 20px;
}

.hero-price .value{
    font-size: 40px;
    font-weight: 700;
}

.hero-price .text{
    font-size: 20px;
}

.hero-price-subtitle{
    color: var(--color-300);
    margin-top: 0;
    font-size: 20px;
    font-weight: 700;
}

.hero__buttons{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap:20px;
    color: white;

}

.button-primary-left{
    background-color: var(--color-200);
    font-weight: 800;
    padding: 13px 50px;
    border-radius: 8px;
}

.button-primary-left a{
    text-decoration: none;
    color: white;
}

.button-primary-right{
    background-color: var(--color-100);
    font-weight: 800;
    padding: 13px 40px;
    border-radius: 8px;
    color: var(--color-300);
    
}

.button-primary-right a{
    text-decoration: none;
    color: var(--color-400);
}

.hero__buttons-subtitle{
    font-size: 16px;
    color: var(--color-300);
    margin-top: 15px;
}

h2{
    font-size: 40px;
    margin-bottom: 15px;
}

.text-medium{
    font-size: 16px;
}
.section{
    background-color: var(--color-400);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}
.section__content{
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section__header{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 0;
}

.card__subtitle .script-position{
    margin-top:10px ;
}

.container__cards{
    display: flex;
    flex-direction: row;
    gap: 25px;
    
}

.card{
    background-color: var(--color-300);
    padding: 30px;
    width: 100%;
    max-width: 100%;
    flex: 1;/*hace que este contenido se divida equitativamente en el contenedor 
    padre, el padre tiene que tener display:flex*/
    border-radius: 15px;
    
}


.card__header{
    display: flex;
    text-align: center;
    background-color: var(--color-200);
    width: 40px;
    height: 40px;
    border-radius: 6px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.button-secundary{
    background-color: var(--color-200);
    padding: 15px 60px;
    border-radius: 10px;
    font-weight:800;
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
}

.footer{
    background-color: var(--color-000);
}

.footer__content{
    padding: 30px 70px;
    align-items: flex-end;

}

.footer__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footer__header-logo-left{
    width: 150px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    gap: 20px;
}

.footer__header-logo-left img{
    max-width: 100%;
    justify-content: flex-start;
}

.footer__header-logo-right{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer__header-logo-right a i{
    font-size: 18px;
    color: white;
    padding: 1px 4px;
    border-radius: 6px;
    background-color: var(--color-300);
}


.footer__container-line{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(214, 224, 255);
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.footer__container-right{
    gap: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin:auto

}

.footer__container-right a{
    font-size: 14px;
    color: var(--color-300);
    text-decoration: none;

}

.footer__container-left{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.footer__card{
    width: 60px;
    min-width: 0;
    height: 40px;
    overflow: hidden;
}

.footer__card img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: 1px solid rgb(214, 224, 255);
}

.footer__card-text{
    display: flex;
    align-items: center;
}

.footer__card-text span{
    color: var(--color-200);
    font-weight: 800;
}

.footer__container-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;
}

.footer__container-bottom p{
    color: var(--color-300);
    font-size: 14px;
}

.text__bottom-left{
    text-align: left;
}

.text__bottom-right{
    text-align: right;
}
@media screen and (max-width: 1200px) {
    .header{
        justify-content: space-between;
        height: 55px;
    }
    .header-nav__logo{
        padding: 0;
    }
    .button-menu{
        display: flex;
        background: none;
        border: none;
        outline: none;
        margin-right: 20px;
    }
    .header-nav-content{
        display: none;
    }

    .hero__content{
        width: 100%;

        padding-left: 20px;
        padding-right: 20px;
    }

    .footer{
        
        
        justify-content: center;
        align-items: center;
    }

    .footer__content{

        padding: 30px 10px;
        flex-direction: column;
        gap: 20px;
        margin-left: auto;
        margin-right: auto;
        max-width: 700px;
        width: 100%;
    }

    .footer__container-line{
        flex-direction: column;
        gap: 20px;
    }

    .footer__container-right, .footer__container-left{
        margin-right: 0;
        margin-left: 0;
        align-self: flex-start;
    }

    .container__cards{
        max-width: 1050px;
    }

    .footer__container-line a{
        text-decoration: none;
    }

    .footer__container-bottom{
        flex-direction: column;
        gap:7px;
        
    }
    .text__bottom-right{
        align-self: flex-start;
        margin-right: 0;
        margin-left: 0;
    }

    
}

@media screen and (max-width: 1070px) {
    .container__cards{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 650px;
        margin: 0 auto;
    }

    .hero__header{
        gap: 25px;
    }
    h1{
        font-size: 30px;
        margin-bottom: 10px;
    }

    .hero__subtitle{
        font-size: 20px;
    }

    .hero__content{
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero-right{
        width: 100%;
        align-items: center;
    }

    .hero-left{
        max-width: 700px;
        display: flex;
        width: 100%;
        margin-left: 0;
        margin-bottom: 30px;
    }

    .hero-price-subtitle{
        margin-bottom: 7px;
    }

    .hero-right img{
        max-width: 100%;
        height: auto;
    }

}

@media screen and (max-width: 750px) {
    h1{
        font-size: 25px;
    }

    .hero__subtitle{
        font-size: 17px;
    }
    .hero__content{
        display: flex;
        width: 100%;
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero__buttons{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .button-primary-left{
        text-align: center;
    }
    .button-primary-right{
        text-align: center;
    }

    .container__cards{
        
        margin-left: auto;
        margin-right: auto;
        max-width: 540px;
        width: 100%;
        margin: 0 auto
    }


    .footer__header{
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;

    }

    .footer__header-logo-right{
        display: flex;
        width: 100%;
        text-align: center;
        padding-top: 30px;
    }

    .footer__header-logo-right a{
        flex: 1;
    }

    .footer__container-right{
        white-space: wrap;
        flex-wrap: wrap;
    }

    

    .footer__container-left{
        flex-wrap: wrap;
        max-width: 300px;
        align-items: center;
    }
    
}
@media screen and (min-width: 1300px) {
    .hero__content{
        max-width: 1200px;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
}